<template>
  <button :class="shape">{{label}}</button>
</template>
<script>
export default {
  name: 'r-button',
  data () {
    return {}
  },
  props: {
    label: String,
    shape: {
      type: String,
      default: 'square'
    }
  }
}
</script>
