<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" width="100%">
    <Tutorial msg="Robotinic"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Tutorial from '@/components/Tutorial.vue'

export default {
  name: 'home',
  components: {
    Tutorial
  }
}
</script>
