<template>
  <div>
    <h1>Sensor</h1>
    <span>{{this.device ? this.device.name : 'Disconnected'}}</span><br/>
    <button @click="connect">Connect</button><br/>
    <span>events :{{this.events}}</span><br/>
    <span>gamma  :{{this.gamma}}</span><br/>
    <span>beta   :{{this.beta}}</span><br/>
    <span>alpha  :{{this.alpha}}</span><br/>
    <button @click='sendCommandHoonk'>Hoonk</button><br/>
    <span>command:{{this.lastCommand}}</span><br/>
    <button @click="clearLogs">Clear Logs</button><br/>
    <ul>
      <li v-for="({count, msg}) in logs" :key="count">
        {{count}}
        <pre>
        {{ msg }}
        </pre>
      </li>
    </ul>
  </div>
</template>
<script>
import { throttle } from '@/utils/timing'

export default {
  name: 'sensor',
  data () {
    return {
      logCount: 0,
      logs: [],
      events: 0,
      gamma: 0,
      beta: 0,
      alpha: 0,
      lastCommand: '',
      device: null,
      gatt: null,
      service: null,
      serviceUuid: parseInt('0xFFE0'),
      characteristicUuid: parseInt('0xFFE1')
    }
  },
  mounted: function () {
    if ('DeviceOrientationEvent' in window) {
      this.log('Device Orientation API: supported 👌')
    } else {
      this.log('Device Orientation API: not supported 🍆')
    }

    if ('bluetooth' in navigator) {
      this.log('Bluetooth API: supported 👌')
    } else {
      this.log('Bluetooth API: not supported 🍆')
    }

    var throttled = throttle(this.deviceOrientationHandler.bind(this), 100)

    window.addEventListener('deviceorientation', throttled, false)
  },
  methods: {
    log: function (o) {
      let msg = ''
      if (o.construct === String) {
        msg = o
      } else {
        msg = JSON.stringify(o, ' ', 2)
      }
      this.logs = [{ count: this.logCount, msg: msg }, ...this.logs]
      this.logCount++
    },
    clearLogs: function () {
      this.logs = []
    },
    deviceOrientationHandler: function ({ gamma, beta, alpha }) {
      this.events++
      this.gamma = Math.round(gamma, 2)
      this.beta = Math.round(beta, 2)
      this.alpha = Math.round(alpha, 2)
      this.processCommand()
    },
    processCommand: function () {
      if (this.beta < 30 && this.beta > -30 && this.gamma < 30 && this.gamma > -30) { this.sendCommandStop() }
      if (this.beta > 30) { this.sendCommandReverse() }
      if (this.beta < -30) { this.sendCommandForward() }
      if (this.gamma > 30) { this.sendCommandRight() }
      if (this.gamma < -30) { this.sendCommandLeft() }
    },
    sendCommandStop: function () {
      // this.sendCommand('STOP', '9H\n10H\n')
      this.sendCommand('STOP', 'S\n')
    },
    sendCommandReverse: function () {
      // this.sendCommand('REVERSE', '9H\n10H\n')
      this.sendCommand('REVERSE', 'S\n')
    },
    sendCommandForward: function () {
      // this.sendCommand('FORWARD', '9L\n10L\n')
      this.sendCommand('FORWARD', 'F\n')
    },
    sendCommandRight: function () {
      // this.sendCommand('RIGHT', '9H\n10L\n')
      this.sendCommand('R', 'R\n')
    },
    sendCommandLeft: function () {
      // this.sendCommand('LEFT', '9L\n10H\n')
      this.sendCommand('L', 'L\n')
    },
    sendCommandHoonk: function () {
      // this.sendCommand('HONK', '13T\n')
      this.sendCommand('HONK', 'H\n')
    },
    sendCommand: function (command, message) {
      if (this.lastCommand === command) { return }
      let encoder = new TextEncoder('utf-8')
      if (this.characteristic) {
        this.characteristic.writeValue(encoder.encode(message)).catch(this.logError)
      }
      this.lastCommand = command
    },
    connect: function () {
      this.requestDevices()
        .then(this.saveDevice)
        .then(this.connectToGatt)
        .then(this.saveGatt)
        .then(this.connectToService)
        .then(this.saveService)
        .then(this.connectToCharacteristic)
        .then(this.saveCharacteristic)
        .then(this.connectionSuccess)
        .catch(this.connectionError)
    },
    requestDevices: function () {
      this.log('Requesting Bluetooth Device')
      return navigator.bluetooth.requestDevice({
        filters: [
          { services: [this.serviceUuid] }
        ]
      })
    },
    saveDevice: function (device) {
      this.log(`Device Connected: ${device.name}`)
      this.device = device
      return device
    },
    connectToGatt: function (device) {
      this.log(`Connecting to GATT`)
      this.device.addEventListener('gattserverdisconnected', this.handleGattDisconection)
      return device.gatt.connect()
    },
    handleGattDisconection: function (e) {
      let device = event.target
      this.log(`Device Disconnected: ${device.name}`)
      this.device = null
      this.gatt = null
    },
    saveGatt: function (gatt) {
      this.log(`Connected to GATT`)
      this.gatt = gatt
      return gatt
    },
    connectToService: function (gatt) {
      this.log(`Connect to Service`)
      return gatt.getPrimaryService(this.serviceUuid)
    },
    saveService: function (service) {
      this.log(`Connected to Service`)
      this.service = service
      return service
    },
    connectToCharacteristic: function (service) {
      this.log(`Connecting to characteristic`)
      return service.getCharacteristic(this.characteristicUuid)
    },
    saveCharacteristic: function (characteristic) {
      this.log(`Connected to characteristic`)
      this.characteristic = characteristic
      return characteristic
    },
    connectionSuccess: function () {
      this.log(`Connection Done`)
    },
    connectionError: function (err) {
      this.log(`Error on Connection: ${err}`)
    },
    logSuccess: function (d) {
      this.log(d)
    },
    logError: function (err) {
      this.log(err)
    }
  }
}
</script>
<style>
button {
  width: 100%;
  height: 45px;
  font-size: 24px;
}

span {
  font-size: 24px;
}
</style>
