<template>
  <div>
    <h1>Support</h1>
    <span>Device Orientation API: {{this.orientation}}</span><br/>
    <span>Bluetooth API: {{this.bluetooth}}</span><br/>
  </div>
</template>
<script>
export default {
  data () {
    return {
      orientation: 'not supported 🍆',
      bluetooth: 'not supported 🍆'
    }
  },
  mounted: function () {
    if ('DeviceOrientationEvent' in window) {
      this.orientation = 'supported 👌'
    }

    if ('bluetooth' in navigator) {
      this.bluetooth = 'supported 👌'
    }
  }
}
</script>
