<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

    <h3>Vruummm</h3>
    <img alt="Robot making doughnuts" src="../assets/doughnuts.gif" />

    <h3>Robot</h3>
    <img alt="Top view of robot" src="../assets/robot.gif" />

    <h3>Parts</h3>
    <ul>
      <li v-for="part in parts" :key="part[0]">
        <figure>
          <img :src="getImg(part[0])" :alt="part[1]">
          <figcaption><a :href="part[2]" target="_blank" rel="noopener">{{part[1]}}</a></figcaption>
        </figure>
      </li>
    </ul>

    <h3>Code</h3>
    <pre>
      <code>
#include &lt;SoftwareSerial.h&gt;

#define BLUETOOTH_RX_PIN 8
#define BLUETOOTH_TX_PIN 7
#define BLUETOOTH_BOUD 9600
// If the baudrate of the HM-10 module has been updated,
// you may need to change 9600 by another value
// Once you have found the correct baudrate,
// you can update it using AT+BAUDx command
// e.g. AT+BAUD0 for 9600 bauds

#define SERIAL_BOUD 115200

#define LED_PIN 9

#define TOGGLE 3

#define ERR -1

SoftwareSerial Bluetooth(BLUETOOTH_RX_PIN, BLUETOOTH_TX_PIN); // RX, TX
// Connection
// HM10        Arduino Uno
// Pin 1/TXD   Pin 7
// Pin 2/RXD   Pin 8

void setup() {
  Serial.begin(SERIAL_BOUD);
  while(!Serial) { }
  Bluetooth.begin(BLUETOOTH_BOUD);

  pinMode(0, OUTPUT);
  pinMode(1, OUTPUT);
  pinMode(2, OUTPUT);
  pinMode(3, OUTPUT);
  pinMode(4, OUTPUT);
  pinMode(5, OUTPUT);
  pinMode(6, OUTPUT);
  // Ignoring Bluetooth RX, TX pins
  // pinMode(7, OUTPUT);
  // pinMode(8, OUTPUT);
  pinMode(9, OUTPUT);
  pinMode(10, OUTPUT);
  pinMode(11, OUTPUT);
  pinMode(12, OUTPUT);
  pinMode(13, OUTPUT);

  digitalWrite(9,  HIGH);
  digitalWrite(10, HIGH);
  digitalWrite(11, HIGH);
  digitalWrite(12, HIGH);
  digitalWrite(13, HIGH);
}

void loop() {
  if (Bluetooth.available()) {
    // Loop bluetooth serial log
    // Serial.write(Bluetooth.read());

    char cardinal = Bluetooth.read();
    processCardinal(cardinal);
  }
}

// Assuming a simple cardinal input
// (S)top, (F)orward, (R)right, (L)eft, (H)onk
void processCardinal(char step) {
  if (step == 'S') {
    digitalWrite(9, HIGH);
    digitalWrite(10, HIGH);
  } else if (step == 'F') {
    digitalWrite(9, LOW);
    digitalWrite(10, LOW);
  } else if (step == 'R') {
    digitalWrite(9, HIGH);
    digitalWrite(10, LOW);
  } else if (step == 'L') {
    digitalWrite(9, LOW);
    digitalWrite(10, HIGH);
  } else if (step == 'H') {
    digitalWrite(13, !digitalRead(13));
  }
}
        </code>
    </pre>

    <h3>Source Code</h3>
    <ul>
      <li><a href="https://bitbucket.org/SilvioGreuel/robotinic-control/src/master/" target="_blank" rel="noopener">Robotinic Control - (This Site)</a></li>
      <li><a href="https://bitbucket.org/SilvioGreuel/robotinic-car/src/master/" target="_blank" rel="noopener">Robotinic Car - (Robot)</a></li>
    </ul>

    <h3>References</h3>
    <ul>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Bluetooth_API" target="_blank" rel="noopener">Web Bluetooth API</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Detecting_device_orientation" target="_blank" rel="noopener">Device Orientation API</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data () {
    return {
      parts: [
        ['robot-kit.jpg', 'Robot Kit', 'https://www.filipeflop.com/produto/kit-chassi-2wd-robo-para-arduino/'],
        ['arduino-uno.jpg', 'Arduino Uno', 'https://www.filipeflop.com/produto/placa-uno-r3-cabo-usb-para-arduino/'],
        ['hm-10.jpg', 'HM-10', 'https://www.filipeflop.com/produto/modulo-bluetooth-ble-v4-0-hm-10-keyes/'],
        ['9v-battery-support.jpg', '9V Battery Support', 'https://www.filipeflop.com/produto/suporte-bateria-9v-plug-p4/'],
        ['9v-battery.jpg', '9V Battery', 'https://www.filipeflop.com/produto/bateria-alcalina-9v-elgin/'],
        ['aa-battery.jpg', '1.5V AA Battery 4x', 'https://www.filipeflop.com/produto/pilha-alcalina-aa-elgin/'],
        ['jumpers.jpg', 'Jumpers', 'https://www.filipeflop.com/produto/kit-jumpers-macho-macho-x65-unidades/'],
        ['2-channel-relay.jpg', '2 Channel Relay', 'https://www.filipeflop.com/produto/modulo-rele-5v-2-canais/']
      ]
    }
  },
  methods: {
    getImg (img) {
      return require('../assets/' + img)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
  font-size: 24px;
}

pre, code {
  font-family: monospace, monospace;
}

pre {
  overflow: auto;
  margin: 50px;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
  text-align: start;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX///////9VfPVsAAAAAnRSTlMAuyogpzwAAABJSURBVHhehcCxEQJBCADAhSEgJLCA+xkLwc4+MDC0ZEtwAb2rYdWbc3iEcRZgdEJ5QQKe/oPUjL0LIZhdBFfMqHRDca709QnwA8AYBjw1mzYyAAAAAElFTkSuQmCC);
}

img {
  width: 100%;
}
</style>
